In [ ]:
display("hello")

In [ ]:
use "https://stats.idre.ucla.edu/stat/stata/notes/hsb2", clear
scatter read math, title("Reading score vs Math score")
scatter math science, title("Math score vs Science score")

In [1]:
sysuse auto.dta

(1978 automobile data)

In [2]:
tabulate foreign headroom

           |                     Headroom (in.)
Car origin |       1.5        2.0        2.5        3.0        3.5 |     Total
-----------+-------------------------------------------------------+----------
  Domestic |         3         10          4          7         13 |        52
   Foreign |         1          3         10          6          2 |        22
-----------+-------------------------------------------------------+----------
     Total |         4         13         14         13         15 |        74


           |          Headroom (in.)
Car origin |       4.0        4.5        5.0 |     Total
-----------+---------------------------------+----------
  Domestic |        10          4          1 |        52
   Foreign |         0          0          0 |        22
-----------+---------------------------------+----------
     Total |        10          4          1 |        74